.navbar {
  height: 80px;

  background: #522d28;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 80px;
}

.logo {
  font-size: 28px;

  font-weight: 700;

  color: #f2b35d;
}

.navbar ul {
  display: flex;

  gap: 40px;

  list-style: none;
}

.navbar a {
  text-decoration: none;

  color: white;

  font-weight: 500;

  transition: 0.3s;
}

.navbar a:hover {
  color: #f2b35d;
}
